#app1   {
    position:fixed;
    width:70vw;
    height:70vh;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
}

#zoom   {
    position:relative;
    width:100%;
    height:70%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    max-height:70%;
}


#zoomcontrols   {
    right:0px;
    top:0px;
    display:none;
    width:75px;
    position:absolute;
}

#pluszoom    {
    width:100%;
    height:auto;
}

#minuszoom    {
    width:100%;
    height:auto;
}

#controls   {
    text-align:center;
}

.bgthumbs {
    display:inline-block;
    width:75px;
    height:75px;
    margin:5px;
    border-radius:100px;
    border:5px solid darkgreen;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bg {
    position:fixed;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    z-index: -1;
    background-size: cover;
    background-position: bottom;
}


